<%-include("header")-%>

<h2>This is a about page</h2>

<p>Creating a lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum numquam molestiae impedit quos saepe quas architecto delectus at! Minima nemo ipsam quidem ab dignissimos doloribus, ipsa odio assumenda tempore architecto optio harum non, in voluptas. Saepe, cumque. Exercitationem ipsum voluptate accusantium, architecto maiores nobis eum vitae magnam, veniam impedit minus molestiae iusto modi quo quis, recusandae cum repellendus maxime nulla! Cupiditate enim sunt nihil provident consequuntur voluptate corporis? Aspernatur dicta illo exercitationem officiis quas ea deleniti sequi doloremque, magnam amet corporis doloribus vel quisquam, labore officia dolorum eum temporibus soluta nesciunt architecto in iste, ducimus rem id. Aut, distinctio consequatur.</p>

<%-include("footer")-%>